body {
  background-color: orange;
}
.menutitle {
  font-family: monospace;
  color: #660020;
  text-align: center;
}

.menubackground {
  background-color: orange;
  height: 100%;
  width: 100%;
  position: absolute;
}

.menu {
  background-color: #f5f5ef;
  width: 50%;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 25%;
  border: medium solid #660020;
  border-radius: 10px;
}

.nextitem {
  padding-left: 50px;
}

.recipeimage {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.recipedescription {
  position: relative;
  float: right;
  min-height: 150px;
}
